
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-image: url(../img/body_recortes.png);
    font-family: 'Chivo', sans-serif; 
    position: relative;
    padding-bottom: 0.5em;
    min-height: 90vh;
}
 /*Navegador bootstrap*/
.navbar-brand {
    font-family: $fuenteSecundaria;
}

.nav-item{
    font-family: $fuenteSecundaria;
    font-size: 20px;
}

/*Pagina de inicio*/
.contenedor-main{
    margin: 80px 10px 50px 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__foto{
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }

    &__texto{
        font-size: 90px;
        font-family: 'Playfair Display', serif;
        color: $colorUno;
        width: 1000px;
        height: 120px;
        justify-content: center;
        text-align: center;
        &:hover {
            color: $colorDos;    
        } 
    }

    &__parrafo1{
        font-size: 50px;
    }

    &__parrafo2{
        font-size: 25px;  
    }

}


/*Footer*/
.contenedor-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    &__texto{
    margin: 10px;
    }

    &__redes{
    margin:10px;
    text-decoration: none;
    align-content: center;
    }
   
}


/*Formación*/
.contenedor-grid{
    height: auto;
    width: auto;
    margin: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    animation: slideInUp;
    animation-duration: 2s;

    &__titulo{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    &__logo{
    height: 100px;
    width: 100px;
    }

    &__card1 {
    margin: 10px;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    }

    &__card2{
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid $negro 1px;
    border-left: solid $negro 1px;
    }
}

.contenedor-card{
    margin: 10px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: slideInUp;
    animation-duration: 2s;

    &__titulo {
    margin-top: 50px;
    }

    &__imagen{
    width: 300px;
    height: 300px;
    align-items: center;
    }

    &__texto{
    margin: 5px;
    }
}


.boton-verde{
    padding: 10px;
    position: absolute;
    color: white;
    background-color: $verde;
    border-color: $colorUno;
    border-radius: 5px;
    text-decoration: none;
}


/*Herramientas*/
.contenedor{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__tarjeta{
        margin: 20px;
    }
}

.tarjeta{
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    &:hover{
        transform: perspective(600px) rotateY(180deg);

        
    }
}


.tarjeta__frontal{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}

.tarjeta__trasera{
    @extend .tarjeta__frontal
}

.tarjeta__frontal{
    display: block;
    backface-visibility: hidden;
}

.tarjeta__trasera{
    position: absolute;
    top: 0;
    padding: 20px;
    color:$negro;
    background-color: $blanco;
    box-shadow: 0px 10px 10px -6px $negro;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
}





 

/*Servicios*/
.container-fluid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    text-align: center;
    animation: slideInUp;
    animation-duration: 2s;
    
}

.contenedor-servicios{
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 10px;
    border-right: solid $negro 1px;
    &__logo{
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
    
    }
}

/*Contacto*/
.contenedor-contacto{
    margin: 100px 100px 100px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation: slideInUp;
    animation-duration: 2s;

    &:input, textarea{
        border: 0;
        outline: none;
        width: 380px;
    }
}

.formulario-campo{
    margin: 20px 0px;
    border-bottom: solid $negro 1px;
    background-color: none;
    width: 450px; 
}

.boton{
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    background-color: $colorUno;
    font-family: 'Chivo', sans-serif; 
    font-size: 20px;
    color: white;

}

.contenedor-mapa{
   margin: 50px;
}



